<div class="container">
  <h1>Please go read a book. </h1>
  <h2> If you know how to read of course.</h2>
  <h3> If you do, check out everythi.ng for awesome book recomendations!</h3>
  <br>
  <h4> now srsly u lost restart the game </h4>
  <%= link_to :root do %> <div class="btn btn-lg btn-danger">Restart</div> <% end %>
</div>
