<div class="container">
<h1> CONGRATULATIONS!</h1>
<h2>You took <%= session[:attempts] %> attempts!</h2>
<%= link_to :root do %> <div class="btn btn-lg btn-success">Play Again!</div> <% end %>
</div>
