<div class="container">
<h1> WELCOME TO LE WAGON'S SCRABBLE <img src="http://findyourway.co/wp-content/uploads/2018/03/white_logo_red_circle.png" class="wagon"></H1>
<h3> Try to form the longest word possible using only the letters given! </h3>
 <%= link_to :new do %> <div class="btn btn-lg btn-primary">START!</div> <% end %>
</div>
